# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# Model Files
models/

# Outputs
outputs/

# macOS
.DS_Store

# Windows
Thumbs.db